/* #region General */

:root {
	--main-black: #0a0a0a;
	--title-black: #111;
	--subtitle-black: #222;
	--main-gray: #818181;
	--main-purple: #7620df;
	--dark-purple: #4A148C;
	/* language colors */
	--javascript-language-color: #f1e05a;
	--cs-language-color: #178600;
	--cpp-language-color: #f34b7d;
	--python-language-color: #3572a5;
}

body {
	font-family: 'Lato', sans-serif;
}

/* #endregion */

/* #region Links */

/* http://tobiasahlin.com/blog/css-trick-animating-link-underlines/ */

/* https://www.smashingmagazine.com/2010/02/the-definitive-guide-to-styling-web-links/ */

a.underlined {
	color: var(--title-black);
	text-decoration: none;
	transition: /*font-size 0.2s,*/
	text-decoration, color 0.5s;
	font-weight: 900;
	position: relative;
	padding: 5px;
}

a.underlined:hover, a.underlined:visited:hover {
	color: var(--main-purple);
	/*font-size: 20px;*/
}

a.underlined::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: var(--main-purple);
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

a.underlined:hover::after {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

.center-underlined::after {
	left: -10px;
	-webkit-transform-origin: center;
	transform-origin: center;
}

.sidebar-underlined::after {
	-webkit-transform-origin: left;
	transform-origin: left;
}

/* #endregion */

/* #region Horizontal rule */

hr {
	width: 60%;
	max-width: 750px;
	color: var(--main-gray);
	background-color: var(--main-gray);
	height: 1px;
}

/* #endregion*/

/* #region Sidebar */

.sidebar {
	height: 100%;
	width: 0;
	/* 0 width - change this with JavaScript */
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: var(--title-black);
	overflow-x: hidden;
	padding-top: 6vh;
	transition: 0.5s ease;
}

.sidebar a {
	padding: 8px 8px 8px 3vw;
	text-decoration: none;
	font-size: 25px;
	color: var(--main-gray);
	display: block;
	transition: color 0.2s;
	font-weight: 400;
}

.sidebar a:hover {
	color: var(--main-purple);
}

/* The sidebar links */

.sidebar-invisible {
	width: 15px;
	background: var(--main-black);
}

/* #endregion */

/* #region Header card */

.header-card {
	width: 40vw;
	min-width: 300px;
	max-width: 350px;
	margin: auto;
	height: 10vh;
	min-height: 80px;
}

.header-card img {
	height: inherit;
	min-height: inherit;
}

.header-card-portrait {
	float: left;
	height: inherit;
	min-height: inherit;
	vertical-align: middle;
}

.header-card-details {
	float: right;
	height: inherit;
	min-height: inherit;
}

.header-card-title {
	margin: 1vh 0 1vh;
}

.header-card-subtitle {
	margin: 1vh 0 1vh;
}

/* #endregion */

/* #region Home */

/* https://www.smashingmagazine.com/2013/08/absolute-horizontal-vertical-centering-css */

/* Profile card */

.centered-container {
	/*Centre container vertically and horizontally*/
	/* Needs to be adjusted to match content height*/
	width: 90vw;
	height: 70vh;
	min-height: 700px;
	/**/
	min-width: 300px;
	max-width: 400px;
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
}

.profile-card-portrait img {
	width: 250px;
}

h1 {
	font-size: 25px;
	color: var(--title-black);
}

h2 {
	font-size: 20px;
	color: var(--subtitle-black);
}

table {
	width: 100%;
	height: 15vh;
	margin: auto;
	border: 0px;
	border-collapse: collapse;
}

td {
	text-align: center;
	font-size: 15px;
	width: 33%;
	height: 33%;
	margin: auto;
}

/* #endregion */

/* #region Projects */

.square-list {
	padding: 0;
	margin: auto;
	width: 90%;
	min-width: 500px;
	max-width: 800px;
	height: 600px;
	list-style-type: none;
}

.square-list li {
	overflow: hidden;
	position: relative;
	word-break: break-word;
	margin: 2%;
	width: 46%;
	float: left;
}

.square-list li div {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	background-color: #010101;
	opacity: 0;
	pointer-events: none;
	transition: 0.3s opacity;
	vertical-align: central;
	border-radius: 35px;
}

.square-list li a.language-javascript {
	background-color: var(--javascript-language-color);
}

.square-list li a.language-cs {
	background-color: var(--cs-language-color);
}

.square-list li a.language-cpp {
	background-color: var(--cpp-language-color);
}

.square-list li a.language-python {
	background-color: var(--python-language-color);
}

.square-list li h2 {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.square-list li a {
	display: block;
	position: relative;
	min-height: 270px;
	background: #f9f9f9;
	text-align: center;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	border-radius: 35px;
}

.square-list li a:before {
	display: block;
	content: "";
	width: 100%;
	padding-top: 62.5%;
}

.square-list li a>.content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.square-list li a img {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	max-width: 90%;
	-webkit-transition: .3s transform;
	-moz-transition: .3s transform;
	-ms-transition: .3s transform;
	-o-transition: .3s transform;
	transition: .3s transform;
	-webkit-transform: translateX(-50%) translateY(-50%) translateZ(0);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%) translateZ(0);
}

.square-list li a:hover img {
	-webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(.8);
	-moz-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(.8);
	-ms-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(.8);
	-o-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(.8);
	transform: translateX(-50%) translateY(-50%) translateZ(0) scale(.8);
}

.square-list li:hover div {
	opacity: 0.6;
}

/* #endregion */

/* #region Project article*/

.article-title {
	font-weight: bold;
	font-size: 2.5em;
	text-align: center;
}

.download-link {}

.column {
	margin: 0 auto 0 auto;
	width: 50%;
	max-width: 700px;
}

.main-text {
	text-align: justify;
}

.image-container {
	width: 100%;
	padding: auto;
}

.image-container img {
	display: block;
	margin: auto, 0;
}

.centered-image {
	max-width: 100%;
}

/*.project-element {
    position: relative;
    width: 25%;
    max-width: 1000px;
    min-width: 300px;
}

.project-element-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    margin: auto;
    opacity: 0;
    transition: 0.5s ease;
    background-color: var(--main-purple);
}

.project-element:hover .project-element-overlay {
    opacity: 0.6;
}

.project-title {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-weight: 400;
}

.project-image {
    position: relative;
    border-radius: 3px;
    width: 100%;
    margin: auto;
}

.square-list {
    display: inline;
    width: 100%;
    margin: auto;
}

    .square-list-item {
        display: inline;
    }*/

/* #endregion */
