/*   THEME AND COLOURS
    *   Main black: #0a0a0a
    *   Header black: #111
    *   Second header black: #222
    *   Main gray: #818181
    *   Main purple: #AA00FF
    *   
    *   
    */

/*********************************************************************
General
*********************************************************************/

:root {
    --main-black: #0a0a0a;
    --title-black: #111;
    --subtitle-black: #222;
    --main-gray: #818181;
    --main-purple: #AA00FF;
}

body {
    font-family: 'Lato', sans-serif;
}

/* Links */
a {
    color: var(--title-black);
    text-decoration: none;
    transition: /*font-size 0.2s,*/ text-decoration, color 0.2s;
    font-weight: 900;
}

    a:hover {
        color: var(--main-purple);
        text-decoration: solid;
        /*font-size: 20px;*/
    }

/* Horizontal rule */
hr {
    width: 60%;
    color: var(--main-gray);
    background-color: var(--main-gray);
    height: 1px;
}

/* Sidebar */
.sidebar {
    height: 100%;
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--title-black);
    overflow-x: hidden;
    padding-top: 6vh;
    transition: 0.5s ease;
}

    .sidebar a {
        padding: 8px 8px 8px 3vw;
        text-decoration: none;
        font-size: 25px;
        color: var(--main-gray);
        display: block;
        transition: color 0.2s;
        font-weight: 400;
    }

        .sidebar a:hover {
            color: var(--main-purple);
        }

/* The sidebar links */
.sidebar-invisible {
    width: 1.5vw;
    background: var(--main-black);
}

/* Header card */
.header-card {
    width: 45%;
    min-width: 400px;
    max-width: 300px;
    margin: auto;
    height: 10vh;
    min-height: 10vh;
}

    .header-card img {
        height: inherit;
        min-height: inherit;
    }

.header-card-portrait {
    height: inherit;
    min-height: inherit;
    float: left;
    vertical-align: middle;
}

.header-card-details {
    margin-left: 3vw;
    height: inherit;
    min-height: inherit;
    float: left;
}

.header-card-title {
    margin: 1vh 0 1vh;
}

.header-card-subtitle {
    margin: 1vh 0 1vh;
}

/* https://www.smashingmagazine.com/2013/08/absolute-horizontal-vertical-centering-css */

/*********************************************************************
Home
*********************************************************************/

/* Profile card */
.centered-container {
    /*Centre container vertically and horizontally*/
    /* Needs to be adjusted to match content height*/
    width: 90vw;
    height: 70vh;
    min-height: 700px;
    /**/
    min-width: 300px;
    max-width: 400px;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}


.profile-card-portrait img {
    width: 250px;
}

h1 {
    font-size: 25px;
    color: var(--title-black);
}

h2 {
    font-size: 20px;
    color: var(--subtitle-black);
}

table {
    width: 100%;
    height: 15vh;
    margin: auto;
    border: 0px;
    border-collapse: collapse;
}

td {
    text-align: center;
    font-size: 15px;
    width: 33%;
    height: 33%;
    margin: auto;
}

/*********************************************************************
Projects
*********************************************************************/

.project-element {
    padding-top: 10vh;
}

.project-title {
    padding-left: 10vw;
    font-size: 30px;
}

.project-image {
    padding-top: 5vh;
    border-radius: 3px;
    width: 70%;
    min-width: 45%;
    display: block;
    margin: auto;
}
