/* #region General */

:root {
    --main-black: #0a0a0a;
    --main-white: #fff;
    --title-black: #111;
    --subtitle-black: #222;
    --main-gray: #818181;
    --main-purple: #7620df;
    --dark-purple: #4A148C;
    /* language colors */
    --js-language-color: #f1e05a;
    --cs-language-color: #178600;
    --cpp-language-color: #f34b7d;
    --python-language-color: #3572a5;
}

body {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

/* #endregion */

/* #region Links */

/* http://tobiasahlin.com/blog/css-trick-animating-link-underlines/ */

/* https://www.smashingmagazine.com/2010/02/the-definitive-guide-to-styling-web-links/ */

a.underlined {
    color: var(--title-black);
    text-decoration: none;
    transition: /*font-size 0.2s,*/
    text-decoration, color 0.5s;
    font-weight: 900;
    position: relative;
    padding-bottom: 5px;
}

a.underlined:hover, a.underlined:visited:hover {
    color: var(--main-purple);
    /*font-size: 20px;*/
}

a.underlined::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--main-purple);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

a.underlined:hover::after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.center-underlined::after {
    left: -10px;
    -webkit-transform-origin: center;
    transform-origin: center;
}

.sidebar-underlined::after {
    -webkit-transform-origin: right;
    transform-origin: right;
}

/* #endregion */

/* #region Horizontal rule */

hr {
    width: 50vw;
    max-width: 750px;
    color: var(--main-gray);
    background-color: var(--main-gray);
    height: 1px;
}

/* #endregion*/

/* #region Sidebar */

.sidebar {
    height: 100%;
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--title-black);
    overflow-x: hidden;
    padding-top: 6vh;
    transition: 0.5s ease;
}

.sidebar a {
    padding: 8px 8px 8px 3vw;
    text-decoration: none;
    font-size: 25px;
    color: var(--main-gray);
    display: block;
    transition: color 0.2s;
    font-weight: 400;
}

.sidebar a:hover {
    color: var(--main-purple);
}

/* The sidebar links */

.sidebar-invisible {
    width: 15px;
    background: var(--main-black);
}

/* #endregion */

/* #region Header card */

.header {
    position: absolute;
    top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 40vw;
    min-width: 300px;
    max-width: 350px;
    height: 10vh;
    min-height: 80px;
}

.header-card img {
    height: inherit;
    min-height: inherit;
}

.header-card-portrait {
    height: inherit;
    vertical-align: middle;
}

.header-card-details {
    height: inherit;
    min-height: inherit;
}

.header-card-title {
    margin: 1vh 0 1vh;
}

.header-card-subtitle {
    margin: 1vh 0 1vh;
}

/* #endregion */

/* #region Home */

/* https://www.smashingmagazine.com/2013/08/absolute-horizontal-vertical-centering-css */

/* Profile card */

.centered-container {
    /*Centre container vertically and horizontally*/
    /* Needs to be adjusted to match content height*/
    width: 20%;
    height: 70%;
    min-height: 700px;
    min-width: 300px;
    max-width: 400px;
    overflow: auto;
    /*margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;*/
    text-align: center;
}

.profile-card-portrait img {
    width: 250px;
}

h1 {
    font-size: 25px;
    color: var(--title-black);
}

h2 {
    font-size: 20px;
    color: var(--subtitle-black);
}

.profile-links {
    display: flex;
    height: 20%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.profile-links-row {
    display: flex;
    width: 90%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.profile-links-row div {
    /* width: 33%; */
}

/* #endregion */

/* #region Projects */

.content {
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
}

.project-square-row {
    display: flex;
    width: 100%;
    height: 40%;
    margin: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.project-square {
    width: 100%;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.language-js::before {
    background-color: var(--js-language-color);
}

.language-cs::before {
    background-color: var(--cs-language-color);
}

.language-cpp::before {
    background-color: var(--cpp-language-color);
}

.language-python::before {
    background-color: var(--python-language-color);
}

.project-square a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-square:hover {
    /* filter: brightness(50%); */
}

.project-square a img {
    width: 70%;
    -webkit-transition: 0.3s transform ease-in-out;
    -moz-transition: 0.3s transform ease-in-out;
    -ms-transition: 0.3s transform ease-in-out;
    -o-transition: 0.3s transform ease-in-out;
    transition: 0.3s transform ease-in-out;
}

.project-square:hover a img {
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8);
}

.project-square:hover a .text-logo {
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8);
}

.text-logo {
    width: 10vw;
    position: absolute;
    font-size: 75px;
    color: var(--main-white);
    -webkit-transition: 0.3s transform ease-in-out;
    -moz-transition: 0.3s transform ease-in-out;
    -ms-transition: 0.3s transform ease-in-out;
    -o-transition: 0.3s transform ease-in-out;
    transition: 0.3s transform ease-in-out;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.project-square::before {
    content: "";
    width: 100%;
    height: 100%;
    -webkit-transition: 0.3s opacity ease-in-out, 0.3s filter ease-in-out;
    -moz-transition: 0.3s opacity ease-in-out, 0.3s filter ease-in-out;
    -ms-transition: 0.3s opacity ease-in-out, 0.3s filter ease-in-out;
    -o-transition: 0.3s opacity ease-in-out, 0.3s filter ease-in-out;
    transition: 0.3s opacity ease-in-out, 0.3s filter ease-in-out;
    opacity: 1;
    position: absolute;
    border-radius: 35px;
    z-index: -1;
}

.project-square::after {
    color: var(--main-white);
    -webkit-transition: 0.3s opacity ease-in-out, 0.3s transform ease-in-out;
    -moz-transition: 0.3s opacity ease-in-out, 0.3s transform ease-in-out;
    -ms-transition: 0.3s opacity ease-in-out, 0.3s transform ease-in-out;
    -o-transition: 0.3s opacity ease-in-out, 0.3s transform ease-in-out;
    transition: 0.3s opacity ease-in-out, 0.3s transform ease-in-out;
    content: attr(data-title);
    opacity: 0;
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    bottom: 5px;
}

.project-square:hover::before {
    filter: brightness(50%);
}

.project-square:hover::after {
    opacity: 1;
    transform: translateY(-10px);
}

/* #endregion */

/* #region Project article*/

.main-article {
    height: 70%;
    width: 100%;
}

.article-title {
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
}

.download-link {}

.column {
    margin: 0 auto 0 auto;
    width: 50%;
    max-width: 700px;
}

.main-text {
    text-align: justify;
}

.image-container {
    width: 100%;
    padding: auto;
}

.image-container img {
    display: block;
    margin: auto, 0;
}

.centered-image {
    max-width: 100%;
}

/* #endregion */
